  body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
  }
  
  header {
    background-color: #000;
    padding: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .card {
    height: 35em;
    width: 20em;
  }

  .card img {
    object-fit: contain;
    max-height: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card .card-body .card-title {
   height: 3rem;
   overflow: hidden;
   text-overflow: ellipsis;
  }

  .card .card-body .card-text {
    max-height: 6rem; /* Ajuste a altura máxima conforme necessário */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .navbar-brand img {
    width: 139px;
    height: 68px;
    margin-top: -10px;
    margin-bottom: -10px;
  }

  .shopping-bag-icon {
    width: 30px; 
    height: 30px; 
    margin-top: -6px;
  }

  .nav-link {
    color: white;
  }

  #banner {
    background: url('resources/static/image/banner_bytebuy.png') no-repeat center center/contain;
    background-color: #000;
    height: 400px; 
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  